<ion-view view-title="Dashboard">
  <ion-content>
    <a ng-href="#/app/newTravel" class="item item-icon-left c_blueGradient1">
      <i class="icon ion-home"></i> Home
    </a>
    <a ng-href="#/app/users/{{storageuser._id}}" class="item item-icon-left c_blueGradient1">
      <i class="icon ion-person"></i> {{storageuser.username}} profile
    </a>
    <a href="#/app/users" class="item item-icon-left c_blueGradient1">
      <i class="icon ion-person-stalker"></i> Users
    </a>
    <a href="#/app/devices" class="item item-icon-left c_blueGradient1">
      <i class="icon ion-ios-pulse-strong"></i> Devices
    </a>
    <a href="#/app/usage" class="item item-icon-left c_blueGradient1">
      <i class="icon ion-stats-bars"></i> Usage statistics
    </a>
    <a ng-href="#/app/bills" class="item item-icon-left c_blueGradient1">
      <i class="icon ion-social-euro"></i> Bills statistics
    </a>
    <a ng-href="#/app/search" class="item item-icon-left c_blueGradient1">
      <i class="icon ion-search"></i> Search
    </a>
    <a href="#/app/users" class="item item-icon-left c_blueGradient1">
      <i class="icon ion-person-stalker"></i> Users
    </a>
    <a href="#/app/notifications" class="item item-icon-left c_blueGradient1">
      <i class="icon ion-android-notifications"></i> Notifications
      <span class="badge c_purple300">{{storageuser.notifications.length}}</span>
    </a>
    <a href="#/app/settings" class="item item-icon-left c_blueGradient1">
      <i class="icon ion-settings"></i> Settings
    </a>
    <a href="#/app/help" class="item item-icon-left c_blueGradient1">
      <i class="icon ion-ios-help-outline"></i> Help
    </a>
  </ion-content>
</ion-view>
