<div class="card" ng-repeat="publication in publications">
  <a class="item item-avatar" ng-href="#/app/users/{{publication.user._id}}">
    <img ng-src="{{publication.user.img}}">
    <h2>{{publication.user.username}}</h2>
    <p>{{publication.user.shortDescription}}</p>
  </a>
  <a ng-href="#/app/publications/{{publication._id}}" class="item item-image"
  ng-show="publication.img">
      <img ng-src="{{publication.img}}">
  </a>
  <a ng-href="#/app/publications/{{publication._id}}" class="item item-text-wrap">
      <div class="item-note">{{publication.date | date: 'HH:mm, dd/MM/yyyy'}}</div>
      <h2>{{publication.title}}</h2>
      <p>{{publication.content}}</p>
  </a>
  <div class="item tabs tabs-icon-only">
    <a class="tab-item">

    </a>
    <a class="tab-item">

    </a>
    <a class="tab-item" ng-click="unsavepublication(publication)"
    ng-show="ispublicationSaved(publication)">
        <i class="icon ion-heart ctext_red600"></i>
    </a>
    <a class="tab-item" ng-click="savepublication(publication)"
    ng-hide="ispublicationSaved(publication)">
        <i class="icon ion-heart"></i>
    </a>
  </div>
</div>
