<ion-view view-title="{{user.username}}">
  <ion-content>
    <div class="list card">

  <div class="item item-avatar">
    <img ng-src="{{user.img}}">
    <button class="button button-small button-balanced o_floatRight">
      Follow
    </button>
    <h2>{{user.username}}</h2>
    <p>{{user.devices.length}} devices</p>
  </div>

  <div class="item item-body">
    <p>
        <canvas id="line" class="chart chart-line" chart-data="data" chart-labels="labels" chart-series="series" chart-options="options" chart-dataset-override="datasetOverride" chart-click="onClick">
        </canvas>
    </p>
    <p>
      <a href="#" class="subdued">Share</a>
      <a href="#" class="subdued">More stats</a>
      <a href="#/app/devices" class="subdued">View devices</a>
    </p>
  </div>

</div>
  </ion-content>
</ion-view>
