/* login */
.o_noPaddingMargin{
    padding: 0!important;
    margin: 0!important;
}
.o_mainRow{
    height: calc(100%/4);
}
.o_loginBackground{
    height: 100%!important;
    width: 100%;
    min-height: auto;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    background-position: center;
    background-image: url('../img/loginBackground.jpg');
    text-align: center;
    /*color: white;*/

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    color: #ffffff;

    padding-top: 30%;
}
@font-face {
    font-family: 'Otterly Adorable';
    src: url('../fonts/fourHand_TRIAL.ttf');
}
.o_loginBackground h1{
    color: #ffffff!important;
    margin: 10px;
    font-family: 'Otterly Adorable'
    /*font-weight: bold;*/
}
.o_loginDivForm{
    /*background: rgba(255, 255, 255, 0.2);*/
}
.o_loginInput{
    background: rgba(255, 255, 255, 0.2);
    padding:10px;
    color: #ffffff;
    border: 0px;
    width: 80%;
    font-size: 120%;
}
.o_loginInput::-webkit-input-placeholder{
    color: rgba(255, 255, 255, 0.6);
}
.o_loginButton{
    color: rgba(0, 0, 0, 0.8);
    font-weight: bold;
    margin: 10%;
}
.o_signupLink{
    text-decoration: none;
    color: #ffffff;
}
.o_transparentBackground{
    background: rgba(255, 255, 255, 0);
    color: #ffffff;
}




/* app */
.o_mainOptionRow{
    height: calc(90%/3);
    /*display: table;*/

    padding: 0;
    padding-top: 10px;
}
.o_mainOptionRow a{
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    width: calc(100%/2);
    font-size: 300%;
    margin: 0 10px!important;
}
.o_floatRight{
    float: right;
}
.o_textRight{
    text-align: right;
}
.o_badge{
    border-radius: 8px;
    margin: 5px;
    padding: 2px 5px;
}
